<div id="edit-{{ inflections.lower }}-modal" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit {{ inflections.singular }}</h4>
            </div>
            <form id="edit-{{ inflections.lower }}-modal-form" role="form">
                <div class="modal-body">
                    {% for field in meta|filter(field => field.fieldName != 'slug') %}
                        <div class="form-group">

                            {% if field.type == 'string' %}
                                <label for="edit-{{ inflections.lower }}-modal-{{ inflections.lower }}-{{ field.fieldName }}" class="control-label">{{ field.fieldName|ucfirst }}</label>
                                <input type="text" name="{{ field.fieldName }}" id="edit-{{ inflections.lower }}-modal-{{ inflections.lower }}-{{ field.fieldName }}" class="form-control" {{ field.nullable == false ? ' required' : '' }} autocomplete="off">
                            {% endif %}

                            {% if field.type == 'text' %}
                                <label for="edit-{{ inflections.lower }}-modal-{{ inflections.lower }}-{{ field.fieldName }}" class="control-label">{{ field.fieldName|ucfirst }}</label>
                                <textarea name="{{ field.fieldName }}" id="edit-{{ inflections.lower }}-modal-{{ inflections.lower }}-{{ field.fieldName }}" class="form-control" {{ field.nullable == false ? ' required' : '' }} cols="5"></textarea>
                            {% endif %}

                            {# TODO: add more cases for data types and/or relations :) #}

                            {% if field.fieldName == 'id' and field.id is defined  %}
                                <input type="hidden" name="id" id="edit-{{ inflections.lower }}-modal-{{ inflections.lower }}-{{ field.fieldName }}">
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Close</button>
                    <button id="edit-{{ inflections.lower }}-modal-save-button" type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#edit-{{ inflections.lower }}-modal').on('shown.bs.modal', function () {
        SFTube.clearViolations($(this));

        $('#edit-{{ inflections.lower }}-modal-form').find('input').first().focus();
    });

    $('#edit-{{ inflections.lower }}-modal').on('hidden.bs.modal', function () {
        SFTube.clearModalFields($(this));
    });
</script>
