{% extends 'base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
    <h2 class="card-box">{{ video.title }}</h2>

    <div class="panel">
        <div class="panel-body">

            {% set _autoplay = configuration.isSet('autoplay-videos') and configuration.get('autoplay-videos') %}

            <video src="{{ asset(videos_url_segment ~ video.filename) }}"
                   poster="{{ asset(thumbnails_url_segment ~ video.thumbnail) }}"
                   controls{{ _autoplay ? ' autoplay' }}></video>

            <p class="text-muted font-13 m-t-30 m-b-30">
                {{ video.description|nl2br }}
            </p>

            <div class="text-left">
                <p class="text-muted font-13"><strong>{{ t('ui.template.videos.watch.text.uploaded')|trans }}:</strong>
                    <span class="m-l-15">{{ video.createdAt|timeElapsedSinceNow }}</span>
                </p>

                <p class="text-muted font-13"><strong>{{ t('ui.template.videos.watch.text.uploader')|trans }} :</strong>
                    <span class="m-l-15">
                        <a href="javascript:void(0);">{{ video.user.fullname }}</a>
                    </span>
                </p>

                <p class="text-muted font-13"><strong>{{ t('ui.template.videos.watch.text.views')|trans }} :</strong>
                    <span class="m-l-15">{{ video.views }}</span></p>

                <p class="text-muted font-13 m-b-5">
                    <strong>{{ t('ui.template.videos.watch.text.category')|trans }} :</strong> <span class="m-l-15">
                        <a href="javascript:void(0);">
                            {{ video.category.name }}
                        </a>
                    </span>
                </p>

                {% if video.tags.count > 0 %}
                    <p class="text-muted font-13 m-b-5"><strong>{{ t('ui.template.videos.watch.text.tags')|trans }}: </strong>
                        {% for tag in video.tags %}
                            <span class="m-l-15">
                                <a href="javascript:void(0);">
                                    {{ tag.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>


    {% if video.comments.count > 0 %}
        <h4 class="card-box header-title m-t-0 m-b-30"><i
                    class="zmdi zmdi-comments m-r-5"></i> {{ t('Comments')|trans }}</h4>

        {% for comment in video.comments %}
            {{ include('comments/partials/_comment.html.twig', {'comment': comment}) }}
        {% endfor %}

    {% endif %}

    <div class="card-box">
        <a class="btn btn-success waves-effect waves-light"
           href="{{ path('app.homepage') }}">{{ t('ui.template.videos.watch.link.text.home')|trans }}</a>
    </div>
{% endblock %}
