{% extends 'base.html.twig' %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block body %}
    <h2 class="card-box">{{ playlist.name }}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and playlist.owner(app.user) %}
            <span style="display: inline;" class="pull-right">
                    <a class="btn btn-sm btn-info waves-effect waves-light" data-toggle="tooltip" data-placement="bottom"
                       title="{{ t('ui.template.playlists.view.tooltip.edit')|trans }}"
                       href="{{ path('app.playlists.edit', {'id': playlist.id}) }}"><span class="fa fa-edit"></span></a>
                    {{ include('playlists/partials/_delete_form.html.twig') }}
            </span>
        {% endif %}
        </h2>

    <div class="row">
    {% for i, video in videos %}
        <div class="col-md-3">
            {{ include('videos/partials/_video-card.html.twig', {'video': video}) }}
        </div>

        {% if (i % 4) is same as(3) %}
            </div><div class="row">
        {% endif %}

    {% endfor %}
    </div>

    {% if pagination.pages > 1 %}
        {{ include('partials/_pagination.html.twig', {'pagination': pagination}) }}
    {% endif %}

{% endblock %}
